<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>814238575534-4b8tq955f8hl9q4h2hm3e93in728nb0v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.814238575534-4b8tq955f8hl9q4h2hm3e93in728nb0v</string>
	<key>API_KEY</key>
	<string>AIzaSyAyD64K6-5yoPe3cZFC3H4OEczpLHVopVg</string>
	<key>GCM_SENDER_ID</key>
	<string>814238575534</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.privateHomeServicesManager</string>
	<key>PROJECT_ID</key>
	<string>privatehomeservice2020</string>
	<key>STORAGE_BUCKET</key>
	<string>privatehomeservice2020.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:814238575534:ios:795e75b8d8ff6598fdf63f</string>
	<key>DATABASE_URL</key>
	<string>https://privatehomeservice2020.firebaseio.com</string>
</dict>
</plist>